@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.owl-dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.owl-dots .owl-dot span {
  background-color: #fff;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0px;
  border: 1px solid #131313;
  display: block;
}

/* .product-load {
    display: grid;
    width: 100%;
    justify-items: center;
    padding: 51px 59px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 29px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      grid-gap: 50px;
}

article {
width: 271px;
height: 366px;
background-color: #fff;
border-radius: 15px;
display: flex;
flex-direction: column;
position: relative;

@include mobile {
  margin: 30px 0;
}


img {
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;


}
}
} */
.small-image {
  margin-top: 27px;
  margin-right: 70px;
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  cursor: pointer;
}
.small-image img {
  width: 73px;
  height: 70px;
}
@media only screen and (max-width: 1279px) {
  .small-image {
    flex-direction: row;
    margin-bottom: 20px;
    align-self: center;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .small-image {
    align-self: flex-start;
  }
}

.cookie {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  width: 90%;
  border-radius: 6px;
  padding: 28px 24px;
  z-index: 10;
  display: flex;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .cookie {
    flex-direction: column;
  }
}
.cookie.hide {
  opacity: 0;
  visibility: hidden;
}
.cookie header {
  color: #84bc22;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  margin-bottom: 24px;
}
.cookie p {
  color: #45413e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 140px;
}
@media only screen and (max-width: 767px) {
  .cookie p {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.cookie p span {
  color: #84bc22;
  cursor: pointer;
}
.cookie button {
  display: block;
  font-size: 14px;
  background: #84bc22;
  color: #fff;
  border: 1px solid #e8e2d6;
  border-radius: 20px;
  padding: 13px 23px;
  margin: auto;
  cursor: pointer;
}
.cookie i {
  position: absolute;
  right: 30px;
  top: 33px;
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px 0;
  border-bottom: 1px solid #999999;
}
@media only screen and (max-width: 1279px) {
  nav {
    padding: 5px 25px 0;
  }
}
nav input {
  display: none;
}
nav .logo {
  display: flex;
}
nav .logo .logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  nav .logo .logo-text {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text {
    margin-left: 0px;
  }
}
nav .logo .logo-text h1 {
  font-weight: 900;
  color: #011847;
  letter-spacing: 6.33px;
  font-size: 32px;
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text h1 {
    font-size: 20px;
    font-weight: 900;
  }
}
nav .logo .logo-text p {
  color: #84bc22;
  font-size: 18px;
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text p {
    font-size: 13px;
  }
}
nav #mega-photo {
  display: block;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  nav #mega-photo {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav #mega-photo {
    width: 320px;
    height: auto;
  }
}
nav #mini-photo {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav #mini-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 22px;
  }
}
nav .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 65px;
}
@media only screen and (max-width: 767px) {
  nav .navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}
nav .navbar .btn {
  color: #131313;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  nav .navbar .btn {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  nav .products-list {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  nav .sale {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
  }
}
nav .sale a {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
}
nav .sale a:hover {
  color: #84bc22;
}
@media only screen and (max-width: 767px) {
  nav .sale a {
    font-size: 16px;
    line-height: 31px;
    font-weight: 300;
  }
  nav .sale a:hover {
    color: #fff;
  }
}
nav .nav-links {
  display: inline-flex;
}
@media only screen and (max-width: 767px) {
  nav .nav-links {
    position: fixed;
    width: 100%;
    top: 75px;
    left: -100%;
    background: #2d343a;
    display: block;
    overflow-y: auto;
    justify-content: space-between;
  }
}
nav .nav-links .nav-item {
  display: flex;
  align-items: center;
}
nav .nav-links .nav-item select {
  border: none;
  outline: none;
  font-size: 14px;
  color: #999999;
  padding: 0 22px;
  background-color: #fff;
}
@media only screen and (max-width: 1279px) {
  nav .nav-links .nav-item select {
    padding: 0 5px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links .nav-item {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links .nav-item {
    padding: 0 10px;
  }
}
nav .nav-links li {
  list-style: none;
}
nav .nav-links li:hover .mega-menu {
  top: 76px;
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li:hover .mega-menu {
    top: 70px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links li {
    padding: 10px 22px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li {
    padding: 5px 10px;
  }
}
nav .nav-links li p {
  height: 65px;
  align-items: center;
  display: flex;
  padding: 0px 22px 0px 22px;
  font-size: 14px;
  font-weight: 400;
}
nav .nav-links li p:hover {
  background: #2d343a;
  border-bottom: 5px solid #84bc22;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  nav .nav-links li p {
    display: block;
    font-size: 14px;
    font-weight: 900;
    line-height: 31px;
    padding-right: 22px;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li p {
    font-size: 12px;
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links .desktop-item {
    display: none;
  }
}
nav .nav-links .mobile-item {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav .nav-links .mobile-item {
    padding: 22px 0;
    font-size: 14px;
    font-weight: 900;
    display: block;
    color: #fff;
    cursor: pointer;
  }
}
nav .icons-nav {
  align-items: center;
  justify-content: center;
  color: #999999;
  cursor: pointer;
  display: flex;
}
nav .icons-nav .icon-wrapper {
  position: relative;
}
nav .icons-nav .bag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 12px;
  background: white;
  border: 2px solid #84bc22;
}
@media only screen and (max-width: 1279px) {
  nav .icons-nav .bag {
    width: 15px;
    height: 15px;
    top: -5px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  nav .icons-nav {
    display: none;
  }
}
nav .icons-nav i {
  padding: 0 22px;
  font-size: 25px;
  text-align: center;
}
@media only screen and (max-width: 1279px) {
  nav .icons-nav i {
    font-size: 16px;
    padding: 0 10px;
  }
}
nav .fa-bars {
  position: absolute;
  top: 30px;
  left: 20px;
}
nav .fa-times {
  position: absolute;
  top: 30px;
  left: 20px;
}
nav .fa-caret-down {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav .fa-caret-down {
    display: block;
    float: right;
    color: #999999;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .nav-links {
    left: 0%;
    z-index: 999;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .btn.menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .btn.cancel-btn {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .mega-menu {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .mega-menu {
    left: 0%;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-drop:checked ~ .mega-menu {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-products:checked ~ .products-list {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-drop:checked ~ .links li {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-sale:checked ~ .sale {
    display: flex;
    max-height: 100%;
  }
}
nav .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1279px) {
  nav .mega-menu {
    top: 70px;
  }
}
nav .mega-menu .content {
  background: #2d343a;
  padding: 22px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .content {
    display: flex;
    flex-direction: column;
    padding: 0 22px;
  }
}
nav .mega-menu .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .row {
    width: 100%;
  }
}
nav .mega-menu .row p {
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .row label {
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    font-weight: 300;
  }
}
nav .mega-menu .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
  }
}
@media only screen and (max-width: 1279px) {
  nav .mega-menu .links {
    grid-gap: 35px;
  }
}
nav .mega-menu .links li a {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
  display: block;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links li a {
    font-size: 16px;
    font-weight: 300;
    line-height: 31px;
  }
}
nav .mega-menu .links li a:hover {
  color: #84bc22;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links li a:hover {
    color: #fff;
  }
}

.icons-desktop {
  display: none;
}
@media only screen and (max-width: 767px) {
  .icons-desktop {
    text-align: center;
    /* margin-top: 30px; */
    color: #999999;
    cursor: pointer;
    height: 54px;
    background: #2d343a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .icons-desktop i {
    padding: 0 22px;
    font-size: 25px;
  }
}
.icons-desktop .icon-wrapper {
  position: relative;
}
.icons-desktop .bag {
  display: none;
}
@media only screen and (max-width: 767px) {
  .icons-desktop .bag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 12px;
    background: #2d343a;
    border: 2px solid #84bc22;
    color: #84bc22;
  }
}

.login {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.74);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 100%;
}
.login.login-show {
  display: flex;
}
.login form {
  background: #fff;
  border: none;
  border-radius: 10px;
  width: 500px;
  padding: 32px;
  margin: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login form h1 {
  color: #45413e;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
.login form label {
  color: #45413e;
  display: block;
  font-size: 14px;
  line-height: 26px;
  padding-top: 16px;
  align-self: flex-start;
}
.login form input {
  width: 90%;
  margin: 16px 0;
  font-size: 25px;
  border: 1px solid #999999;
  border-radius: 15px;
  color: #2d343a;
  padding: 10px;
}
.login form .submit__btn {
  margin-top: 12px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 30px;
  color: #fff;
  background: #84bc22;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin: 18px 0;
  border: none;
}
.login form .submit__btn:hover {
  color: #84bc22;
  background: #fff;
  border: 1px solid #84bc22;
}
.login form .pass {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.login form small {
  color: #84bc22;
  font-size: 12px;
  line-height: 43px;
  cursor: pointer;
  letter-spacing: 0.6px;
}
.login form p {
  color: #84bc22;
  font-size: 12px;
  line-height: 43px;
  cursor: pointer;
  letter-spacing: 0.6px;
}
.login form #form-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.login form #form-password i {
  position: absolute;
  right: 30px;
  top: 35px;
  color: #999999;
}
.login form #form-password #eye-close {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    height: 100%;
    margin: 50px 0px;
  }
}
footer input {
  display: none;
}
footer .column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
}
footer .column h3 {
  color: #45413e;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1279px) {
  footer .column h3 {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 767px) {
  footer .column h3 {
    display: none;
  }
}
footer .column p {
  color: #45413e;
  font-size: 13px;
  line-height: 18px;
}
@media only screen and (max-width: 1279px) {
  footer .column p {
    line-height: 13px;
  }
}
footer .column a {
  color: #45413e;
  font-size: 13px;
  line-height: 31px;
  opacity: 0.7;
}
footer .column .copyright {
  padding-bottom: 20px;
}
footer .column .contact {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  footer .column .contact {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
}
footer .column .contact .location {
  padding-bottom: 20px;
}
footer .column .contact address {
  display: flex;
  flex-direction: column;
}
footer .column .contact address a {
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 20px;
}
footer .column .links {
  display: flex;
  flex-direction: column;
}
footer .column:nth-child(2) .mega-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 150px;
}
@media only screen and (max-width: 1279px) {
  footer .column:nth-child(2) .mega-links {
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  footer .column:nth-child(2) .mega-links {
    display: flex;
    flex-direction: column;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
}
footer .social-links {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  footer .social-links {
    align-self: center;
  }
}
footer .social-links i {
  color: #45413e;
  opacity: 0.3;
  font-size: 17px;
  padding-right: 20px;
}
footer .social-links i:hover {
  color: #84bc22;
  opacity: 1;
}
@media only screen and (max-width: 1279px) {
  footer .social-links i {
    padding-right: 7px;
  }
}
footer label {
  display: none;
}
@media only screen and (max-width: 767px) {
  footer label {
    display: flex;
    font-size: 13px;
    color: #45413e;
    font-weight: 700;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  footer .about {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  footer #show-contact:checked ~ .contact {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  footer #show-categories:checked ~ .mega-links {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  footer #show-about:checked ~ .about {
    max-height: 100%;
  }
}

.popular-items {
  background: #262a32;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popular-items h1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  margin: 89px auto 0;
  position: relative;
  z-index: 1;
}
.popular-items h1::before {
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  right: 0;
  z-index: -3;
}
.popular-items h1::after {
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  left: 0;
  z-index: -2;
}
.popular-items h1 span {
  background-color: #262a32;
  padding: 8px 50px;
}
.popular-items .product-load {
  display: none;
  width: 100%;
  justify-items: center;
  padding: 51px 59px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 29px;
}
.popular-items .product-load.active {
  display: grid;
}
@media only screen and (max-width: 1279px) {
  .popular-items .product-load {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .popular-items .product-load {
    display: none;
  }
}
.popular-items .product-load article {
  width: 271px;
  height: 366px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .popular-items .product-load article {
    display: none;
  }
}
.popular-items .product-load article img {
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.popular-items .product-load article .details {
  text-align: center;
}
.popular-items .product-load article .details p {
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
}
.popular-items .product-load article .details .price {
  color: #011847;
  font-size: 14px;
}
.popular-items .products {
  display: grid;
  width: 100%;
  justify-items: center;
  padding: 51px 59px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 29px;
}
@media only screen and (max-width: 1279px) {
  .popular-items .products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .popular-items .products {
    display: flex;
    flex-direction: row;
    grid-gap: 50px;
  }
}
.popular-items .products .product {
  width: 271px;
  height: 366px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .popular-items .products .product {
    margin: 30px 0;
  }
}
.popular-items .products .product img {
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.popular-items .products .product .details {
  text-align: center;
}
.popular-items .products .product .details p {
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
}
.popular-items .products .product .details .price {
  color: #011847;
  font-size: 14px;
}
.popular-items .products .product .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(0deg, #1bc167 0%, #2dd3a1 100%);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  cursor: pointer;
}
.popular-items .products .product .overlay .fa-plus {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #23c46e;
}
.popular-items .products .product .overlay .fa-heart {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #e73c68;
}
.popular-items .products .product:hover .overlay {
  opacity: 0.9;
}
.popular-items .products .product:nth-child(8):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #675b99 0%, #dc5886 100%);
  opacity: 0.8;
  border-radius: 15px;
}
.popular-items .products .product:nth-child(8) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.popular-items .products .product:nth-child(8) .details {
  position: absolute;
  bottom: 8px;
  left: 30px;
  z-index: 1;
}
.popular-items .products .product:nth-child(8) .details p {
  color: #fff;
  font-size: 16px;
  width: 131px;
  height: 60px;
  line-height: 24px;
}
.popular-items .products .product:nth-child(8) .details p:nth-child(2) {
  font-size: 14px;
  padding: 10px;
}
.popular-items .products .product:nth-child(8) .details i {
  font-size: 24px;
  color: #84bc22;
  padding: 10px;
}
.popular-items .products button {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 2px solid #999999;
  background-color: #fff;
}
.popular-items .products button #button-price {
  margin: 0;
  color: #84bc22;
  font-size: 14px;
  text-align: center;
  padding: 11px 21px;
}
.popular-items .products button a {
  border-left: 2px solid #999999;
  font-size: 14px;
  color: #131313;
  padding: 13px 23px;
}
.popular-items #load {
  margin: 51px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #e8e2d6;
  border-radius: 20px;
  background-color: transparent;
  padding: 13px 60px;
}
.popular-items #load p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.popular-items #load i {
  color: #fff;
  font-size: 20px;
  padding: 0 24px;
}
@media only screen and (max-width: 767px) {
  .popular-items #load {
    display: none;
  }
}

.banner-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  align-items: center;
  margin: 17px 55px;
}
@media only screen and (max-width: 767px) {
  .banner-container {
    grid-template-columns: 1fr;
    margin: 17px auto;
  }
}
.banner-container .carousel-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .banner-container .carousel-text {
    display: none;
  }
}
.banner-container .carousel-text .carousel-img {
  position: relative;
}
.banner-container .carousel-text .carousel-img .img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container .carousel-text .carousel-img .img-text h1 {
  font-size: 100px;
  color: #fff;
  font-weight: 900;
  padding: 50px 25px;
}
.banner-container .carousel-text .carousel-img .img-text p {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  width: 120px;
  text-align: center;
}
.banner-container .carousel-text .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.banner-container .carousel-text .text h4 {
  color: #45413e;
  font-size: 18px;
  line-height: 18px;
  margin-top: 42px;
}
.banner-container .carousel-text .text p {
  color: #45413e;
  font-size: 13px;
  width: 195px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 17px;
}
.banner-container .carousel-text .text a button {
  border-radius: 19px;
  border: 2px solid #3a5b96;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 147px;
  height: 36px;
}
.banner-container .carousel-text .text a button i {
  color: #3a5b96;
  font-size: 17px;
}
.banner-container .carousel-text .text a button span {
  color: #3a5b96;
  font-size: 14px;
}
.banner-container .banner {
  position: relative;
  width: 870px;
  height: 505px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner {
    width: 400px;
    height: 505px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner {
    width: 290px;
    height: 472px;
    margin: 17px 16px;
  }
}
.banner-container .banner .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
}
.banner-container .banner .owl-dots .owl-dot span {
  display: block;
  margin-right: 10px;
}
.banner-container .banner .banner-img {
  position: relative;
}
.banner-container .banner .banner-img img {
  width: 870px;
  height: 505px;
  object-fit: cover;
  border-radius: 17px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img img {
    width: 400px;
    height: 505px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img img {
    width: 290px;
    height: 472px;
    object-fit: cover;
  }
}
.banner-container .banner .banner-img h1 {
  color: #fff;
  font-size: 48px;
  font-family: "Myriad Pro";
  font-weight: 700;
  margin-bottom: 114px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img h1 {
    font-size: 28px;
    margin: 32px 16px;
  }
}
.banner-container .banner .banner-img p {
  font-family: "Myriad Pro";
  font-size: 14px;
  color: #fff;
  margin-bottom: 48px;
  width: 336px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img p {
    width: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img p {
    width: 100%;
    text-align: center;
  }
}
.banner-container .banner .banner-img button {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  padding: 13px 33px;
  cursor: pointer;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img button {
    margin: 70px auto;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img button {
    margin: 70px;
  }
}
.banner-container .banner .banner-img .banner-text1 {
  position: absolute;
  top: 79px;
  bottom: 0;
  left: 60px;
  right: 0;
  height: 322px;
  width: 559px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img .banner-text1 {
    top: 50px;
    left: 30px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img .banner-text1 {
    left: 0;
  }
}
.banner-container .banner .banner-img .banner-text2 {
  position: absolute;
  top: 79px;
  bottom: 0;
  left: 160px;
  right: 0;
  height: 322x;
  width: 559px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img .banner-text2 {
    top: 50px;
    left: 30px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img .banner-text2 {
    left: 0;
  }
}
.banner-container .banner .banner-img .banner-text3 {
  position: absolute;
  top: 79px;
  bottom: 0;
  left: 250px;
  right: 0;
  height: 322x;
  width: 559px;
}
@media only screen and (max-width: 1279px) {
  .banner-container .banner .banner-img .banner-text3 {
    top: 50px;
    left: 30px;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .banner-container .banner .banner-img .banner-text3 {
    left: 0;
  }
}

.osf-banner {
  position: relative;
  width: 100%;
}
.osf-banner img {
  width: 100%;
  height: auto;
  display: block;
}
.osf-banner .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.osf-banner .overlay h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 41px;
}
@media only screen and (max-width: 767px) {
  .osf-banner .overlay h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.osf-banner .overlay p {
  font-size: 14px;
  width: 334px;
  height: 28px;
  text-align: center;
}

.featured-products {
  position: relative;
  background: #262a32;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .featured-products {
    display: none;
  }
}
.featured-products h1 {
  font-size: 36px;
  margin-top: 44px;
  font-weight: 900;
  color: #fff;
}
.featured-products h3 {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 21px;
  font-weight: 300;
}
.featured-products h2 {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 143px;
  z-index: 1;
}
.featured-products h2 span {
  background: #262a32;
  padding: 0px 10px;
}
.featured-products h2::before {
  background-color: #fff;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 130px;
  right: 0;
  z-index: -3;
}
.featured-products h2::after {
  background-color: #fff;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 130px;
  left: 0;
  z-index: -2;
}
.featured-products .featured {
  margin-top: 20px;
  padding: 55px;
}
.featured-products .featured .featured-product {
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-products .featured .featured-product img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.featured-products .featured .featured-product .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-products .featured .featured-product .description p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #45413e;
  margin-top: 20px;
}
.featured-products .featured .featured-product .description small {
  font-size: 14px;
  color: #84bc22;
  text-align: center;
  padding: 20px 0px;
}
.featured-products .featured .owl-nav {
  position: absolute;
  top: -26px;
  left: 180px;
}
.featured-products .featured .owl-nav span {
  font-size: 30px;
  color: #fff;
  margin: 123px;
}
.featured-products .featured .owl-nav .owl-prev {
  margin-left: 210px;
}
.featured-products .featured .owl-nav .owl-next {
  margin-right: 275px;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  background-color: #45413e;
  padding: 50px 60px;
}
@media only screen and (max-width: 1279px) {
  .services-container {
    grid-gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
.services-container .service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .services-container .service:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
.services-container .service i {
  color: #84bc22;
  font-size: 50px;
  padding-right: 40px;
}
@media only screen and (max-width: 1279px) {
  .services-container .service i {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .services-container .service i {
    font-size: 50px;
    padding-left: 40px;
  }
}
.services-container .service h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  padding-bottom: 22px;
}
.services-container .service p {
  color: #868380;
  font-size: 14px;
  line-height: 18px;
}

.not-found {
  background: #f1edea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found ul.bread {
  padding: 47px 16px;
  list-style: none;
}
.not-found ul.bread li {
  display: inline;
  font-size: 13px;
}
.not-found ul.bread li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
.not-found ul.bread li a {
  color: #84bc22;
  text-decoration: none;
}
.not-found h1 {
  text-align: center;
  font-size: 48px;
  color: #45413e;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.not-found h1::before {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  right: 0;
  z-index: -3;
}
.not-found h1::after {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  left: 0;
  z-index: -2;
}
.not-found h1 span {
  background-color: #f1edea;
  padding: 8px 33px;
}
.not-found .container {
  margin: 55px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .not-found .container {
    margin: 20px;
  }
}
.not-found .container .error {
  padding: 63px 106px 63px 0;
  position: relative;
}
@media only screen and (max-width: 1279px) {
  .not-found .container .error {
    position: initial;
    padding: 30px 50px 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .not-found .container .error {
    position: relative;
    padding: 0;
  }
}
.not-found .container .error i {
  font-size: 300px;
  color: #f1edea;
}
@media only screen and (max-width: 1279px) {
  .not-found .container .error i {
    display: none;
  }
}
.not-found .container .error .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 105px;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1279px) {
  .not-found .container .error .overlay {
    position: initial;
  }
}
@media only screen and (max-width: 767px) {
  .not-found .container .error .overlay {
    position: absolute;
    align-items: flex-start;
  }
}
.not-found .container .error .overlay h2 {
  color: #84bc22;
  font-size: 113px;
  line-height: 60px;
}
@media only screen and (max-width: 1279px) {
  .not-found .container .error .overlay h2 {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .not-found .container .error .overlay h2 {
    font-size: 50px;
    text-align: center;
  }
}
.not-found .container .message {
  padding: 71px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1279px) {
  .not-found .container .message {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .not-found .container .message {
    padding: 70px 20px;
  }
}
.not-found .container .message h3 {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 28px;
}
.not-found .container .message p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.not-found .container .message p:nth-child(4) {
  color: #84bc22;
  margin-top: 5px;
  margin-bottom: 67px;
}
.not-found .container .message .search {
  position: relative;
}
.not-found .container .message .search input {
  border: 1px solid #45413e;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
}
.not-found .container .message .search i {
  position: absolute;
  right: 15px;
  bottom: 6px;
}

.category-wrapper {
  background: #f1edea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.category-wrapper ul.bread {
  padding: 47px 16px;
  list-style: none;
}
.category-wrapper ul.bread li {
  display: inline;
  font-size: 13px;
}
.category-wrapper ul.bread li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
.category-wrapper ul.bread li a {
  color: #84bc22;
  text-decoration: none;
}
.category-wrapper p {
  font-size: 14px;
  color: #45413e;
  padding-bottom: 30px;
}
.category-wrapper h1 {
  text-align: center;
  font-size: 48px;
  color: #45413e;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.category-wrapper h1::before {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  right: 0;
  z-index: -3;
}
.category-wrapper h1::after {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  left: 0;
  z-index: -2;
}
.category-wrapper h1 span {
  background-color: #f1edea;
  padding: 8px 33px;
}
.category-wrapper .selection {
  margin: 26px 55px;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  justify-content: space-between;
}
@media only screen and (max-width: 1279px) {
  .category-wrapper .selection {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .category-wrapper .selection {
    grid-template-columns: 1fr;
  }
}
.category-wrapper .selection .options {
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-wrapper .selection .options label {
  font-size: 14px;
  line-height: 24px;
  color: #45413e;
  margin-right: 36px;
}
.category-wrapper .selection .options select {
  border: 1px solid #45413e;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #999999;
  padding: 10px 22px;
  background-color: #fff;
  width: 60%;
}
.category-wrapper .selection .options:nth-child(4) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.category-wrapper .selection .options:nth-child(4) span {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}
.category-wrapper .selection .options:nth-child(4) #white {
  background: #ffffff;
}
.category-wrapper .selection .options:nth-child(4) #aquamarine {
  background: #43c0cf;
}
.category-wrapper .selection .options:nth-child(4) #black {
  background: #131313;
}
.category-wrapper .selection .options:nth-child(4) #green {
  background: #84bc22;
}
.category-wrapper .selection .options:nth-child(4) #blue {
  background: #315bbd;
}
.category-wrapper .selection .options:nth-child(4) #orange {
  background: #ec6115;
}
.category-wrapper .selection .options:nth-child(4) #red {
  background: #dc041c;
}
.category-wrapper .selection .options:nth-child(4) #cream {
  background: #efead7;
}
.category-wrapper #hide-elements {
  display: none;
}
@media only screen and (max-width: 767px) {
  .category-wrapper #hide-elements {
    display: block;
    font-size: 14px;
    color: #84bc22;
    margin-top: 20px;
  }
}
.category-wrapper .category-products {
  background: #f1edea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px 55px 70px;
}
.category-wrapper .category-products .products-wrapper {
  display: grid;
  width: 100%;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 29px;
}
@media only screen and (max-width: 1279px) {
  .category-wrapper .category-products .products-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .category-wrapper .category-products .products-wrapper {
    grid-template-columns: 1fr;
  }
}
.category-wrapper .category-products .products-wrapper .product {
  width: 271px;
  height: 366px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .category-wrapper .category-products .products-wrapper .product:nth-child(n+5) {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .category-wrapper .category-products .products-wrapper .product {
    margin: 30px 0;
  }
}
.category-wrapper .category-products .products-wrapper .product img {
  background-color: #262a32;
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.category-wrapper .category-products .products-wrapper .product .details {
  text-align: center;
}
.category-wrapper .category-products .products-wrapper .product .details p {
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
}
.category-wrapper .category-products .products-wrapper .product .details .price {
  color: #45413e;
  font-size: 14px;
}
.category-wrapper .category-products button {
  background-color: #84bc22;
  color: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  padding: 14px 40px;
  margin-top: 120px;
  cursor: pointer;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  .category-wrapper .category-products button {
    margin-top: 30px;
  }
}
.category-wrapper .mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  .category-wrapper .mobile {
    display: none;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 29px;
  }
  .category-wrapper .mobile.load {
    display: grid;
  }
}
.category-wrapper .mobile .product {
  width: 271px;
  height: 366px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .category-wrapper .mobile .product {
    margin: 30px 0;
  }
}
.category-wrapper .mobile .product img {
  background-color: #262a32;
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.category-wrapper .mobile .product .details {
  text-align: center;
}
.category-wrapper .mobile .product .details p {
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
}
.category-wrapper .mobile .product .details .price {
  color: #45413e;
  font-size: 14px;
}

.product-details {
  background: #f1edea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.product-details ul.bread {
  padding: 47px 16px;
  list-style: none;
}
.product-details ul.bread li {
  display: inline;
  font-size: 13px;
}
.product-details ul.bread li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
.product-details ul.bread li a {
  color: #84bc22;
  text-decoration: none;
}
.product-details h1 {
  text-align: center;
  font-size: 40px;
  color: #45413e;
  margin: 26px auto;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1279px) {
  .product-details h1 {
    font-size: 20px;
  }
}
.product-details h1::before {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 60vw;
  right: 0;
  z-index: -3;
  opacity: 1;
}
.product-details h1::after {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 60vw;
  left: 0;
  z-index: -2;
  opacity: 1;
}
.product-details h1 span {
  background-color: #f1edea;
  padding: 8px 33px;
}
.product-details .product {
  margin: 26px 55px;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.product-details .product .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1279px) {
  .product-details .product .details {
    flex-direction: column;
  }
}
.product-details .product .details .images {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
@media only screen and (max-width: 1279px) {
  .product-details .product .details .images {
    flex-direction: column;
  }
}
.product-details .product .details .images .big-image {
  margin: 10px 33px;
  align-self: flex-start;
}
@media only screen and (max-width: 1279px) {
  .product-details .product .details .images .big-image {
    align-self: center;
  }
}
.product-details .product .details .pdp {
  align-self: flex-start;
  margin-top: 48px;
  margin-right: 54px;
  margin-bottom: 150px;
}
@media only screen and (max-width: 1279px) {
  .product-details .product .details .pdp {
    margin-left: 54px;
    margin-bottom: 40px;
  }
}
.product-details .product .details .pdp h2 {
  color: #45413e;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 42px;
}
@media only screen and (max-width: 1279px) {
  .product-details .product .details .pdp h2 {
    font-size: 30px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .product-details .product .details .pdp h2 {
    text-align: left;
  }
}
.product-details .product .details .pdp .wrapper {
  position: relative;
  user-select: none;
  width: 50%;
}
.product-details .product .details .pdp .wrapper.show .select {
  display: block;
}
.product-details .product .details .pdp .wrapper .option {
  display: flex;
  align-items: center;
}
.product-details .product .details .pdp .wrapper .option span {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}
.product-details .product .details .pdp .wrapper .option #black {
  background: #131313;
}
.product-details .product .details .pdp .wrapper .option #green {
  background: #84bc22;
}
.product-details .product .details .pdp .wrapper .option #blue {
  background: #315bbd;
}
.product-details .product .details .pdp .wrapper .default {
  border: 1px solid #e8e2d6;
  background: #fff;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  list-style: none;
  margin-bottom: 24px;
}
.product-details .product .details .pdp .wrapper .default:before {
  content: "";
  position: absolute;
  top: 15px;
  right: 18px;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent transparent #555555 #555555;
  transform: rotate(-45deg);
}
.product-details .product .details .pdp .wrapper .default li {
  padding: 10px 20px;
}
.product-details .product .details .pdp .wrapper .select {
  display: none;
  list-style: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #fff;
}
.product-details .product .details .pdp .wrapper .select li {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #e8e2d6;
}
.product-details .product .details .pdp .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .product-details .product .details .pdp .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
.product-details .product .details .pdp .buttons .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #e8e2d6;
  border-radius: 20px;
  padding: 10px 0px;
}
@media only screen and (max-width: 767px) {
  .product-details .product .details .pdp .buttons .quantity {
    margin-bottom: 15px;
  }
}
.product-details .product .details .pdp .buttons .quantity button,
.product-details .product .details .pdp .buttons .quantity input {
  background: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  text-align: center;
}
.product-details .product .details .pdp .buttons .quantity input {
  width: 50%;
}
.product-details .product .details .pdp .buttons .add {
  border: 1px solid #e8e2d6;
  padding: 12px 28px;
  border-radius: 20px;
  color: #fff;
  background: #84bc22;
  cursor: pointer;
}
.product-details .product .details .pdp .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 33px;
}
.product-details .product .details .pdp .text p {
  color: #45413e;
  font-size: 16px;
  line-height: 24px;
}
.product-details .product .details .pdp .text small {
  margin-top: 17px;
  font-size: 16px;
  color: #84bc22;
  cursor: pointer;
}
.product-details .product .details .pdp .links {
  display: flex;
  flex-direction: row;
}
.product-details .product .details .pdp .links small {
  margin-right: 35px;
  color: #45413e;
  font-size: 14px;
  line-height: 26px;
  opacity: 0.7;
}
.product-details .product .details .pdp .links i {
  color: #45413e;
  opacity: 0.7;
  margin-right: 24px;
}
@media only screen and (max-width: 767px) {
  .product-details .product .tabs {
    display: none;
  }
}
.product-details .product .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .product .tabs .tab button {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fff;
  color: #e8e2d6;
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.product-details .product .tabs .tab button.active {
  color: #fff;
  background: #262a32;
}
.product-details .product .tabs .tabcontent {
  color: #fff;
  background: #262a32;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 60px;
}
.product-details .product .tabs .tabcontent.active {
  display: grid;
}
.product-details h1 {
  text-align: center;
  font-size: 48px;
  color: #45413e;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1279px) {
  .product-details h1 {
    font-size: 20px;
  }
}
.product-details h1::before {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  right: 0;
  z-index: -3;
  opacity: 1;
}
.product-details h1::after {
  background-color: #e5e2df;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  left: 0;
  z-index: -2;
  opacity: 1;
}
.product-details h1 span {
  background-color: #f1edea;
  padding: 8px 33px;
}

#back-to-top {
  display: none;
}
@media only screen and (max-width: 767px) {
  #back-to-top {
    display: block;
    font-size: 14px;
    background: #84bc22;
    color: #fff;
    border: 1px solid #e8e2d6;
    border-radius: 20px;
    padding: 13px 23px;
    margin-bottom: 50px;
    cursor: pointer;
  }
}

#black {
  background: #131313;
}

#green {
  background: #84bc22;
}

#blue {
  background: #315bbd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
