@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px 0;
  border-bottom: 1px solid #999999;
}
@media only screen and (max-width: 1279px) {
  nav {
    padding: 5px 25px 0;
  }
}
nav input {
  display: none;
}
nav .logo {
  display: flex;
}
nav .logo .logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  nav .logo .logo-text {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text {
    margin-left: 0px;
  }
}
nav .logo .logo-text h1 {
  font-weight: 900;
  color: #011847;
  letter-spacing: 6.33px;
  font-size: 32px;
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text h1 {
    font-size: 20px;
    font-weight: 900;
  }
}
nav .logo .logo-text p {
  color: #84bc22;
  font-size: 18px;
}
@media only screen and (max-width: 1279px) {
  nav .logo .logo-text p {
    font-size: 13px;
  }
}
nav #mega-photo {
  display: block;
  justify-self: center;
  align-self: center;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  nav #mega-photo {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav #mega-photo {
    width: 320px;
    height: auto;
  }
}
nav #mini-photo {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav #mini-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: 22px;
  }
}
nav .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 65px;
}
@media only screen and (max-width: 767px) {
  nav .navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}
nav .navbar .btn {
  color: #131313;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  nav .navbar .btn {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  nav .products {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  nav .sale {
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
  }
}
nav .sale a {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
}
nav .sale a:hover {
  color: #84bc22;
}
@media only screen and (max-width: 767px) {
  nav .sale a {
    font-size: 16px;
    line-height: 31px;
    font-weight: 300;
  }
  nav .sale a:hover {
    color: #fff;
  }
}
nav .nav-links {
  display: inline-flex;
}
@media only screen and (max-width: 767px) {
  nav .nav-links {
    position: fixed;
    width: 100%;
    top: 75px;
    left: -100%;
    background: #2d343a;
    display: block;
    overflow-y: auto;
    justify-content: space-between;
  }
}
nav .nav-links .nav-item {
  /* padding: 0 10px; */
  display: flex;
  align-items: center;
}
nav .nav-links .nav-item select {
  border: none;
  outline: none;
  font-size: 14px;
  color: #999999;
  padding: 0 22px;
  background-color: #fff;
}
@media only screen and (max-width: 1279px) {
  nav .nav-links .nav-item select {
    padding: 0 5px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links .nav-item {
    display: none;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links .nav-item {
    padding: 0 10px;
  }
}
nav .nav-links li {
  list-style: none;
}
nav .nav-links li:hover .mega-menu {
  top: 76px;
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li:hover .mega-menu {
    top: 70px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links li {
    padding: 10px 22px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li {
    padding: 5px 10px;
  }
}
nav .nav-links li p {
  height: 65px;
  align-items: center;
  display: flex;
  padding: 0px 22px 0px 22px;
  font-size: 14px;
  font-weight: 400;
}
nav .nav-links li p:hover {
  background: #2d343a;
  border-bottom: 5px solid #84bc22;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  nav .nav-links li p {
    display: block;
    font-size: 14px;
    font-weight: 900;
    line-height: 31px;
    padding-right: 22px;
  }
}
@media only screen and (max-width: 1279px) {
  nav .nav-links li p {
    font-size: 12px;
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  nav .nav-links .desktop-item {
    display: none;
  }
}
nav .nav-links .mobile-item {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav .nav-links .mobile-item {
    padding: 22px 0;
    font-size: 14px;
    font-weight: 900;
    display: block;
    color: #fff;
    cursor: pointer;
  }
}
nav .icons-nav {
  align-items: center;
  justify-content: center;
  color: #999999;
  cursor: pointer;
  display: flex;
}
nav .icons-nav .icon-wrapper {
  position: relative;
}
nav .icons-nav .bag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 12px;
  background: white;
  border: 2px solid #84bc22;
}
@media only screen and (max-width: 767px) {
  nav .icons-nav {
    display: none;
  }
}
nav .icons-nav i {
  padding: 0 22px;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (max-width: 1279px) {
  nav .icons-nav i {
    font-size: 16px;
    padding: 0 10px;
  }
}
nav .fa-bars {
  position: absolute;
  top: 30px;
  left: 20px;
}
nav .fa-times {
  position: absolute;
  top: 30px;
  left: 20px;
}
nav .fa-caret-down {
  display: none;
}
@media only screen and (max-width: 767px) {
  nav .fa-caret-down {
    display: block;
    float: right;
    color: #999999;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .btn.menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .btn.cancel-btn {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  nav #cancel-btn:checked ~ .mega-menu {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  nav #menu-btn:checked ~ .mega-menu {
    left: 0%;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-drop:checked ~ .mega-menu {
    max-height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-products:checked ~ .products {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-drop:checked ~ .links li {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  nav #show-sale:checked ~ .sale {
    display: flex;
    max-height: 100%;
  }
}
nav .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    max-height: 0px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1279px) {
  nav .mega-menu {
    top: 70px;
  }
}
nav .mega-menu .content {
  background: #2d343a;
  padding: 22px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .content {
    display: flex;
    flex-direction: column;
    padding: 0 22px;
  }
}
nav .mega-menu .row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .row {
    width: 100%;
  }
}
nav .mega-menu .row p {
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .row label {
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    font-weight: 300;
  }
}
nav .mega-menu .links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links {
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
  }
}
@media only screen and (max-width: 1279px) {
  nav .mega-menu .links {
    grid-gap: 35px;
  }
}
nav .mega-menu .links li a {
  color: #fff;
  font-size: 16px;
  line-height: 31px;
  display: block;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
  }
}
nav .mega-menu .links li a:hover {
  color: #84bc22;
}
@media only screen and (max-width: 767px) {
  nav .mega-menu .links li a:hover {
    color: #fff;
  }
}

.icons-desktop {
  display: none;
}
@media only screen and (max-width: 767px) {
  .icons-desktop {
    text-align: center;
    margin-top: auto;
    color: #999999;
    cursor: pointer;
    height: 54px;
    background: #2d343a;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .icons-desktop i {
    padding: 0 22px;
    font-size: 25px;
  }
}

.login {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.74);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.login.login-show {
  display: flex;
}
.login form {
  background: #fff;
  border: none;
  border-radius: 10px;
  width: 500px;
  padding: 32px;
  margin: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login form h1 {
  color: #45413e;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #2d343a;
}
.login form label {
  color: #45413e;
  display: block;
  font-size: 14px;
  line-height: 26px;
  padding-top: 16px;
  align-self: flex-start;
}
.login form input {
  width: 90%;
  margin: 16px 0;
  font-size: 25px;
  border: 1px solid #999999;
  border-radius: 15px;
  color: #2d343a;
  padding: 10px;
}
.login form .submit__btn {
  margin-top: 12px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 30px;
  color: #fff;
  background: #84bc22;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  margin: 18px 0;
  border: none;
}
.login form .submit__btn:hover {
  color: #84bc22;
  background: #fff;
  border: 1px solid #84bc22;
}
.login form .pass {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.login form small {
  color: #84bc22;
  font-size: 12px;
  line-height: 43px;
  cursor: pointer;
  letter-spacing: 0.6px;
}
.login form p {
  color: #84bc22;
  font-size: 12px;
  line-height: 43px;
  cursor: pointer;
  letter-spacing: 0.6px;
}
.login form #form-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.login form #form-password i {
  position: absolute;
  right: 30px;
  top: 35px;
  color: #999999;
}
.login form #form-password #eye-close {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
footer .column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  text-align: left;
}
footer .column h3 {
  color: #45413e;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1279px) {
  footer .column h3 {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 900;
  }
}
footer .column p {
  color: #45413e;
  font-size: 13px;
  line-height: 18px;
}
@media only screen and (max-width: 1279px) {
  footer .column p {
    line-height: 13px;
  }
}
footer .column a {
  color: #45413e;
  font-size: 13px;
  line-height: 31px;
  opacity: 0.7;
}
footer .column .copyright {
  padding-bottom: 20px;
}
footer .column .contact {
  display: flex;
  flex-direction: column;
}
footer .column .contact .location {
  padding-bottom: 20px;
}
footer .column .contact address {
  display: flex;
  flex-direction: column;
}
footer .column .contact address a {
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 20px;
}
footer .column .links {
  display: flex;
  flex-direction: column;
}
footer .column:nth-child(2) .mega-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 150px;
}
@media only screen and (max-width: 1279px) {
  footer .column:nth-child(2) .mega-links {
    grid-gap: 30px;
  }
}
footer .social-links {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}
footer .social-links a {
  color: #45413e;
  opacity: 0.3;
  font-size: 17px;
  padding-right: 20px;
}
@media only screen and (max-width: 1279px) {
  footer .social-links a {
    padding-right: 7px;
  }
}

.popular-items {
  background: #262a32;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popular-items h1 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
  margin: 89px auto 0;
  position: relative;
}
.popular-items h1::before {
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  right: 0;
  /*  z-index: -3; */
}
.popular-items h1::after {
  background-color: #fff;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  content: "";
  height: 3px;
  width: 50vw;
  left: 0;
  /* z-index: -2; */
}
.popular-items span {
  background-color: #262a32;
  padding: 8px 50px;
}
.popular-items .products {
  display: grid;
  width: 100%;
  justify-items: center;
  padding: 51px 59px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 29px;
}
.popular-items .products .product {
  width: 271px;
  height: 366px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.popular-items .products .product img {
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.popular-items .products .product .details {
  text-align: center;
}
.popular-items .products .product .details p {
  color: #45413e;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
}
.popular-items .products .product .details .price {
  color: #011847;
  font-size: 14px;
}
.popular-items .products .product .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(0deg, #1bc167 0%, #2dd3a1 100%);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  cursor: pointer;
}
.popular-items .products .product .overlay .fa-plus {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #23c46e;
}
.popular-items .products .product .overlay .fa-heart {
  padding: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #e73c68;
}
.popular-items .products .product:hover .overlay {
  opacity: 0.9;
}
.popular-items .products button {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 2px solid #999999;
  background-color: #fff;
}
.popular-items .products button #button-price {
  margin: 0;
  color: #84bc22;
  font-size: 14px;
  text-align: center;
  padding: 11px 21px;
}
.popular-items .products button a {
  border-left: 2px solid #999999;
  font-size: 14px;
  color: #131313;
  padding: 13px 23px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  /* height: 1000px; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*   min-width: 1280px; */
}

/*# sourceMappingURL=style.css.map */
