//IMPORT FONT
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


//IMPORT PARTIALS
@import 'partials/variables', 'partials/mixins';

//IMPORT COMPONENTS
@import 'components/dots','components/featured';

//IMPORT LAYOUTS
@import 'layout/header', 'layout/icons', 'layout/login', 'layout/footer', 'layout/popular-items', 'layout/carousel-banner','layout/osf-banner', 'layout/featured-products', 'layout/services','layout/404', 'layout/category-landing';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
html {
  height: 100%;
}
body {  
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
