.not-found{
    @include product-container(#f1edea);
ul.bread {
    @include breadcrumb;
}
h1 {
    @include title(48px, $grey-m, #e5e2df, #f1edea, 1);
  }

  .container {
      margin: 55px;
      border-radius: 6px;
      display: flex;
      flex-direction: row;     
      justify-content: center;
      background-color: #fff;

      @include mobile {
          margin: 20px;
      }
      

      .error {
          padding: 63px 106px 63px 0;
          position: relative;

          @include tablet {
              position: initial;
              padding: 30px 50px 30px 0;
          }
          @include mobile {    
              position: relative;         
              padding: 0;
          }

          i {            
              font-size: 300px;
              color: #f1edea;

              @include tablet {
                  display: none;
              }
          }

          .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 105px;
              right: 0;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;

              @include tablet {
                  position: initial;
              }
              
              @include mobile { 
                  position: absolute;                 
                  align-items: flex-start;
              }
              
              
              h2 {
                  color: $base;
                  font-size: 113px;
                  line-height: 60px;

                  @include tablet {
                      margin-left: 20px;
                  }

                  @include mobile {
                      font-size: 50px;
                      text-align: center;                                         
                  }
              }
          }
      }

      .message {
          padding: 71px;
          display: flex;
          flex-direction: column;
          
          @include tablet {
              padding-left: 0px;
          }

          @include mobile {
              padding:70px 20px;
          }
          
          h3 {
              font-size: 24px;
              font-weight: 900;
              padding-bottom: 28px;
          }

          p {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 15px;

              &:nth-child(4) {
                  color: $base;
                  margin-top: 5px;
                  margin-bottom: 67px;
              }
          }

          .search{
            position: relative;
            
            
          input {              
              border: 1px solid $grey-m;
              border-radius: 20px;
              padding: 5px;  
              width: 100%;               
          }
          i {
            position: absolute;
            right: 15px;
            bottom: 6px;
        }
        }
      }
  }
}
