footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;

  @include mobile{
    flex-direction: column;
    height: 100%;  
    margin: 50px 10px;
  }

  input {
    display: none;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;

    h3 {
      color: $grey-m;
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 20px;

      @include tablet {
        font-size: 10px;
        margin-bottom: 10px;
        font-weight: 900;
      }

      @include mobile {
        display: none;
      }
    }

    p {
      color: $grey-m;
      font-size: 13px;
      line-height: 18px;

      @include tablet {
        line-height: 13px;
      }
    }

    a {
      color: $grey-m;
      font-size: 13px;
      line-height: 31px;
      opacity: 0.7;

      &:hover {
        color: $base;
      }
    }

    .copyright {
      padding-bottom: 20px;
    }

    .contact {
      display: flex;
      flex-direction: column;

        @include mobile {
          position: static;
          opacity: 1;
          visibility: visible;
          width: 100%;
          max-height: 0;
          overflow: hidden;
        }

      .location {
        padding-bottom: 20px;
      }

      address {
        display: flex;
        flex-direction: column;
        a {
          opacity: 1;
          font-size: 13px;
          line-height: 18px;
          padding-bottom: 20px;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
    }

    &:nth-child(2) {
      .mega-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 150px;

        @include tablet {
          grid-gap: 30px;
        }

        @include mobile {
          display: flex;
          flex-direction: column;
          position: static;
          opacity: 1;
          visibility: visible;
          width: 100%;
          max-height: 0;
          overflow: hidden;
        }
      }
    }
  }

  .social-links {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;

    

    @include mobile {
      align-self: center;
    }
    i {
      color: $grey-m;
      opacity: 0.3;
      font-size: 17px;
      padding-right: 20px;

      &:hover {
        color: $base;
        opacity: 1;
      }

      @include tablet {
        padding-right: 7px;
      }
    }
  }

  label {
    display: none;

    @include mobile {
      display: flex;
      font-size: 13px;
      color: $grey-m;
      font-weight: 700;
      padding: 20px 0;
    }
  }

  .about {
    @include mobile {
      position: static;
      opacity: 1;
      visibility: visible;
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
  }

  #show-contact:checked ~ .contact {
    @include mobile {
      max-height: 100%;
    }
  }

  #show-categories:checked ~ .mega-links {
    @include mobile {
      max-height: 100%;
    }
  }

  #show-about:checked ~ .about {
    @include mobile {
      max-height: 100%;
    }
  }
}
