.icons-desktop {
  display: none;

  @include mobile {
    text-align: center;
    /* margin-top: 30px; */
    color: $grey;
    cursor: pointer;
    height: 54px;
    background: $dark-bg;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    i {
      padding: 0 22px;
      font-size: 25px;
    }
  }
}
