.cookie {
    position: fixed;
    bottom: 150px;
    left:50%;
    transform: translate(-50%,0);
    background: #fff;
    width: 90%;
    border-radius: 6px;
    padding: 28px 24px;
    z-index: 10;
    display: flex;
    visibility: hidden;
    
    

    @include mobile {
        flex-direction: column;
        bottom: 100px;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    header {
        color: $base;
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        margin-bottom: 24px;
    }

    p {
        color: $grey-m;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-right: 140px;

        @include mobile {
            margin-right: 0px;
            margin-bottom: 10px;
        }

        span {
            color: $base;
            cursor: pointer;
        }
    }

    button {
  display: block;
  font-size: 14px;
  background: $base;
  color: #fff;
  border: 1px solid $white-bg;
  border-radius: 20px;
  padding: 13px 23px;
  margin: auto;
  cursor: pointer;
    }

    i {
        position: absolute;
        right: 30px;
        top: 33px;
        cursor: pointer;
    }
}