/* .product-load {
    display: grid;
    width: 100%;
    justify-items: center;
    padding: 51px 59px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 29px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }

    @include mobile {
      display: flex;
      flex-direction: row;
      grid-gap: 50px;
}

article {
width: 271px;
height: 366px;
background-color: #fff;
border-radius: 15px;
display: flex;
flex-direction: column;
position: relative;

@include mobile {
  margin: 30px 0;
}


img {
  width: 271px;
  height: 261px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;


}
}
} */