.small-image {        
    img{
    width: 73px;
    height: 70px;
    }               
  margin-top: 27px;
  margin-right: 70px;
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  cursor: pointer;


  @include tablet {
    flex-direction: row;
    margin-bottom: 20px;
    align-self: center;
    margin-right: 0px;
  }
  @include mobile {
    align-self: flex-start;
  }


}
